{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}Nouveau Quiz{% endblock %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}


{% block body %}

    {{ parent() }}

    <div class="container">

        <br>
        <h4 class="black-text">Ajouter un quiz</h4>
        <br>


        <h6 class="center-align black-text thin">
            Pour créer un quiz, il est nécessaire de créer une première question.
            <br>
            Vous pourrez ajouter d'autres questions à la page suivante.
        </h6>

        <div class="card-panel grey lighten-4">

            <!-- Si il existe une erreur, on l'affiche -->
            {% if error is defined %}

                <div class="red">
                    <br>
                    <h6 class="center black-text">{{ error }}</h6>
                    <br>
                </div>
                <br>

            {% endif %}

            {{ form_start(form) }}

            <h6>Nom du Quiz *</h6>
            {{ form_widget(form.nomQuiz) }}

            <h6>Type d'afichage de résultat *</h6>
            <div class="center">
                {{ form_widget(form.    affichageFinal) }}
            </div>

            <br>
            <h6>Nom de la Question *</h6>
            {{ form_widget(form.nomQuestion) }}

            <div class="row">

                <div class=" col s12 m6">
                    <h6>Réponse 1 *</h6>
                    {{ form_widget(form.rep1) }}
                </div>

                <div class=" col s12 m6">
                    <h6>Réponse 2 *</h6>
                    {{ form_widget(form.rep2) }}
                </div>

                <div class=" col s12 m6">
                    <h6>Réponse 3</h6>
                    {{ form_widget(form.rep3) }}
                </div>

                <div class=" col s12 m6">
                    <h6>Réponse 4</h6>
                    {{ form_widget(form.rep4) }}
                </div>

            </div>

            <div class="center">

                <h6>Quel est la réponse correcte ? *</h6>
                {{ form_widget(form.reponseCorrect) }}

            </div>
            <br>
            <h6 class="center thin">* : champs obligatoires</h6>


        </div>

        <div class="row center">

            {{ form_row(form.btnCreer) }}<br>
            <a href="{{ path('mq_quizi_admin_quizs') }}" class="btn waves-effect">Annuler</a>

        </div>

        {{ form_end(form) }}


    </div>

{% endblock %}
