{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}Administration Quizs{% endblock %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}


{% block body %}

    {{ parent() }}

    <div class="container">

        <br>

        {% if is_granted('ROLE_ADMIN') %}
            <h4 class="black-text">Administration des Quiz's</h4>
        {% else %}
            <h4 class="black-text">Administration de mes Quiz's</h4>
        {% endif %}

        <div class="section">

            <table>

                <thead>
                <tr>
                    <th data-field="date">Date</th>
                    <th data-field="quiz">Quiz</th>
                    {% if not is_granted('ROLE_ADMIN') %}
                        <th data-field="modif">Modifier</th>
                    {% endif %}
                    <th data-field="supr">Supprimer</th>

                </tr>
                </thead>

                <tbody>

                {% for quiz in listQuizs %}

                    <tr>
                        <td><span class="thin">{{ quiz.dateCreationQuiz|date('d/m/Y') }}</span></td>
                        <td>{{ quiz.titreQuiz }}</td>
                        {% if not is_granted('ROLE_ADMIN') %}
                            <td><a href="#" class="btn waves-effect">Modifier</a></td>
                        {% endif %}
                        <td><a href="#" class="btn waves-effect">Supprimer</a></td>

                    </tr>

                {% endfor %}

                </tbody>

            </table>

        </div>

        {% if not is_granted('ROLE_ADMIN') %}

            <div class="row center">

                <a href="{{ path('mq_quizi_ajout_quizs') }}" class="waves-effect waves-circle waves-light btn-floating secondary-content">
                    <i class="material-icons">add</i>
                </a>

            </div>

        {% endif %}

    </div>

{% endblock %}
